// Place all the styles related to the ImageSlides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #a6dcef;
}

.images-slide {
  margin: 0 200px;

  img {
    width: auto;
    margin: 0 auto
  }
}
